body{
	font-family:Courier New;
	background-color: white;
}

.introImage{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('D:/ITI/Web/Project/Home imgs/Cats.jpg');
  min-height: 100%;
  position:relative; 
  opacity:0.75
}

.introStyle{
	white-space:nowrap;
	position:absolute;
	top:50%;left:50%;
	transform:translate(-50%,-50%);
	padding:12px 24px;
	color:#fff;
	background-color:#000;
	font-size:24px;
	display:inline-block;
	width:auto;
	text-align:center;
	letter-spacing:4px;
}

.introStyle1{
	white-space:nowrap;
	position:absolute;
	top:60%;left:50%;
	transform:translate(-50%,-50%);
	padding:12px 24px;
	color:#fff;
	font-size:24px;
	display:inline-block;
	width:auto;
	text-align:center;
	letter-spacing:4px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

.imgBox{
	position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 20px;
    max-width: 35%;
}

.imgBox_home {
    padding: 30px;
    position: relative;
    background: #fff;
    margin-bottom: 80px;
    color: #888;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
    text-align: center;
	width:500px;
	height:416px;
}

.refernce{
	color: black;
    text-decoration: none;
	font-size:25px;
	
}
.divmedical{
	float:center;
	
}

.diveducational{
	float:center;
	
}
.diveholidays{
	float:center;
}

.divsummer{
	float:center;


}
.img{
	box-shadow: 10px 10px 5px 1px #7393B3;
	height:300px;
	width:400px;
	
	
}
